@media (min-width: 768px) and (max-width: 1024px) {
    /* ::start:: */
    .sidebar {
        margin-top: 25px;
    }
    .jdl-section-form {
        margin-bottom: 15px;
    }
    .icon-list li {
        width: 5.4%;
    }
    .email-thxu {
        width: 65%;
    }
    /* ::end:: */
}